<div id="loading-master">
  <div class="bg-background ion-margin-bottom ion-padding rounded-xl drop-shadow-md">
    <div class="bg-light rounded-md" style="width: 30%; height: 12px; margin-top: 2px;"></div>
    <div class="bg-light rounded-md animate" style="width: 80%; height: 16px; margin-top: 12px;"></div>
  </div>
  <div class="bg-background ion-margin-bottom ion-padding rounded-xl drop-shadow-md">
    <div class="bg-light rounded-md" style="width: 30%; height: 12px; margin-top: 2px;"></div>
    <div class="bg-light rounded-md animate" style="width: 80%; height: 16px; margin-top: 12px;"></div>
  </div>
  <div class="bg-background ion-margin-bottom ion-padding rounded-xl drop-shadow-md">
    <div class="bg-light rounded-md" style="width: 30%; height: 12px; margin-top: 2px;"></div>
    <div class="bg-light rounded-md animate" style="width: 80%; height: 16px; margin-top: 12px;"></div>
  </div>
</div>
