<ion-header>
  <ion-toolbar>
    <ion-title>Kebijakan privasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ol>
    <li>
      <b>Tentang General Service dan Aplikasi GS CHU</b> 
      <div>
        General Service Can Help You (GS CHU) merupakan platform yang dioperasikan dan dikelola oleh General Service Zona
        1.
        Kebijakan privasi ini dirancang untuk membantu Anda memahami bagaimana kami mengumpulkan, menggunakan,
        mengungkapkan
        dan atau mengolah data pribadi yang telah Anda percayakan kepada kami.
      </div>
    </li>
    <li>
      <b>Informasi Yang Kami Kumpulkan</b> 
      <div>
        Kami mengumpulkan Data pribadi mengenai Anda yang diberikan kepada kami saat menggunakan menggunakan Layanan kami,
        mendaftarkan akun pada kami, mengunjungi Platform kami, atau mengakses Layanan kami. Data Pribadi tersebut
        termasuk
        namun tidak terbatas pada nama Anda, Wilayah Kerja, Fungsi, Jabatan, Nomor pekerja, Alamat rumah dan Nomor
        handphone.
      </div>
    </li>
    <li>
      <b>Akses Ke Perbaikan Atau Perubahan Data Pribadi</b> 
      <div>
        Apabila Anda memiliki akun dengan kami, Anda dapat mengakses, memperbaiki dan atau merubah sendiri data pribadi
        Anda
        yang saat ini kami miliki atau kendalikan melalui halaman Pengaturan Akun di Platform. Untuk melindungi privasi
        dan
        keamanan Anda, kami akan memverifikasi identitas Anda sebelum memberikan akses atau melakukan perubahan pada Data
        Pribadi Anda. Kami akan berusaha menjawab permintaan untuk akses atau perbaikan Data Pribadi Anda sesegera
        mungkin,
        kecuali berlaku pengecualian.Apabila Anda tidak memiliki akun dengan kami, Anda dapat meminta untuk mengakses,
        memperbaiki dan/atau membetulkan data pribadi Anda yang saat ini kami miliki atau kendalikan dengan menghubungi
        customer service kami di stasiun terdekat atau dapat menghubungi contact center 082267573334. Kami berhak menolak
        permintaan anda untuk mengakses, atau untuk memperbaiki, sebagian atau semua Data Pribadi anda yang kami miliki
        atau
        kuasai jika diizinkan atau diperlukan berdasarkan perundang-undangan yang berlaku. Hal ini termasuk dalam keadaan
        di
        mana Data Pribadi tersebut dapat berisi referensi kepada orang lain atau di mana permintaan untuk mengakses,
        memperbaiki dan/atau membetulkan adalah untuk alasan yang kami anggap tidak relevan, tidak serius, atau
        menyulitkan.
      </div>
    </li>
    <li>
      <b>Penggunaan Cookie</b> 
      <div>
        Cookie adalah file teks yang mengandung sejumlah kecil informasi yang diunduh ke perangkat Anda saat Anda
        mengunjungi
        sebuah website atau aplikasi. Kami menggunakan cookie untuk berbagai alasan, seperti untuk melacak data Anda jika
        dibutuhkan untuk digunakan, pelacakan, transaksi Anda, mengingat preferensi Anda dan pada umumnya meningkatkan
        pengalaman Anda saat menggunakan sebuah website atau aplikasi. Anda dapat mengatur browser Anda untuk menerima
        atau
        tidak suatu cookie.
      </div>
    </li>
    <li>
      <b>Keamanan Data Pribadi Anda</b> 
      <div>
        Kerahasiaan Data Pribadi anda adalah hal yang terpenting bagi kami. Kami akan memberlakukan upaya terbaik untuk
        melindungi dan mengamankan data dan Informasi Pribadi anda dari akses, pengumpulan, penggunaan atau pengungkapan
        oleh
        orang-orang yang tidak berwenang dan dari pengolahan yang bertentangan dengan hukum, kehilangan yang tidak
        disengaja,
        pemusnahan dan kerusakan atau risiko serupa. Namun, pengiriman informasi melalui internet tidak sepenuhnya aman.
        Walau
        kami akan berusaha sebaik mungkin untuk melindungi Data Pribadi anda, anda mengakui bahwa kami tidak dapat
        menjamin
        keutuhan dan keakuratan Informasi Pribadi apa pun yang anda kirimkan melalui Internet, atau menjamin bahwa
        Informasi
        Pribadi tersebut tidak akan dicegat, diakses, diungkapkan, diubah atau dihancurkan oleh pihak ketiga yang tidak
        berwenang, karena faktor-faktor di luar kendali kami. Anda bertanggung jawab untuk menjaga kerahasiaan detail Akun
        anda, termasuk kata sandi anda dengan siapapun dan harus selalu menjaga dan bertanggung jawab atas keamanan
        perangkat
        yang anda gunakan
      </div>
    </li>
    <li>
      <b>Persetujuan</b>
      <div>
        Dengan membaca seluruh ketentuan ini, mengakses dan menggunakan platform serta layanan Kami, maka Anda dianggap
        meyatakan telah membaca, memahami, menyetujui, dan menyatakan tunduk pada aturan privasi ini beserta
        perubahan-perubahan yang mungkin Kami lakukan dari waktu ke waktu. Apabila anda tidak dapat menyetujui aturan
        privasi
        ini, baik secara keseluruhan ataupun sebagian, maka Anda tidak diperbolehkan untuk mengakses aplikasi ini ataupun
        menggunakan layanan yang Kami sediakan.
      </div>
    </li>
    <li>
      <b>Penarikan Persetujuan</b>
      <div>
        Anda dapat menarik persetujuan terhadap pengumpulan, penggunaan atau penyingkapan kami atas data pribadi Anda
        setiap
        saat, dengan memberikan kami pemberitahuan yang beralasan. Jika Anda ingin menarik persetujuan Anda, harap
        beritahu
        kami pada detail kontak kami yang tertera di bawah ini. Kami akan berhenti mengumpulkan, menggunakan atau
        menyingkap
        data pribadi Anda setelah pemberitahuan, kecuali diwajibkan oleh hukum atau jika kami memiliki bisnis yang sah
        atau
        tujuan hukum untuk mempertahankannya. Harap memperhatikan bahwa dengan menarik persetujuan Anda terhadap
        pengumpulan,
        penggunaan, atau penyingkapan kami atas data pribadi Anda, kami mungkin tidak dapat terus memberikan layanan kami
        kepada Anda, dan Anda setuju bahwa kami tidak akan bertanggung jawab kepada Anda atas setiap kerugian atau
        kerusakan
        yang timbul dari atau terkait penghentian layanan tersebut
      </div>
    </li>
    <li>
      <b>Hubungi Kami</b>
      <div>
        Jika Anda memiliki pertanyaan atau permintaan apa pun yang berkaitan dengan Kebijakan Privasi ini, harap hubungi
        Petugas Perlindungan Data kami di nomor handphone berikut ini 082267573334.
      </div>
    </li>
  </ol>
</ion-content>