<ion-header class="ion-no-border drop-shadow-md">
  <ion-toolbar>
    <ion-buttons slot="start" class="-mr-4">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Pengguna Terdaftar</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formFilterPengguna" (submit)="submitFilter()">
    <div class="flex gap-3 ion-margin-bottom">
      <ion-item fill="outline" class="flex-1 item-rounded-xl"
        style="height: 57px; --highlight-background: var(--border-color); --full-highlight-height: 1px;">
        <ion-label position="floating" color="medium">Pilih Fungsi</ion-label>
        <ion-icon slot="end" name="chevron-down"></ion-icon>
        <ion-input formControlName="namaFungsi" class="-mb-2" (ionFocus)="openModalSelectFungsi(modalSelectFungsi)">
        </ion-input>
      </ion-item>
      <ion-button type="submit" mode="ios" class="ion-no-margin" style="height: 57px;">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
  <hr class="bg-light">
  <div>
    <small class="text-medium">120 Pengguna</small>
    <div *ngIf="!isLoading; else permintaanLoading">
      <div *ngIf="permintaan && permintaan.length > 0; else noPermintaan">
      </div>
    </div>
  </div>
</ion-content>
