<ion-header class="ion-no-border drop-shadow-sm">
	<ion-toolbar>
		<ion-buttons slot="start" class="-mr-4">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title class="text-bold">
			Kata Sandi Baru
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<div class="flex items-center justify-center ion-margin-bottom w-full" style="margin-top:80px;">
		<img src="assets/auth/pass-baru.png" class="h-full object-cover">
	</div>
	<div class="w-full text-center ion-margin-bottom">
		<div class="text-medium text-bold text-sm">Masukan Kata Sandi Baru Kamu.</div>
	</div>
	<form id="sandiForm" [formGroup]="sandiForm" (submit)="kirim()">
		<ion-list>
			<ion-item fill="outline" class="ion-margin-bottom item-rounded-xl ">
				<ion-icon slot="start" name="key" color="medium" style="margin-top: 11px;"></ion-icon>
				<ion-label position="floating">Kata Sandi Baru</ion-label>
				<ion-input formControlName="sandi" [type]="showSandi? 'text' : 'password'" class="-mb-2"></ion-input>
				<ion-icon slot="end" color="medium" [name]="showSandi? 'eye-off' : 'eye'"
					(click)="showSandi = !showSandi"></ion-icon>
			</ion-item>
			<ion-item fill="outline" class="ion-margin-bottom item-rounded-xl ">
				<ion-icon slot="start" name="key" color="medium" style="margin-top: 11px;"></ion-icon>
				<ion-label position="floating">Konfirmasi Kata Sandi Baru</ion-label>
				<ion-input formControlName="konfirmasiSandi" [type]="showSandi? 'text' : 'password'" class="-mb-2">
				</ion-input>
				<ion-note slot="error" style="margin-left: 2px;">{{sandiForm.get('konfirmasiSandi').errors?.msg}}</ion-note>
			</ion-item>
		</ion-list>
	</form>
</ion-content>
<ion-footer>
	<ion-toolbar>
		<div class="ion-padding">
			<button form="sandiForm" type="submit"
				[disabled]="sandiForm.invalid"
				[class.opacity-50]="sandiForm.invalid"
				class="w-full bg-primary text-on-primary flex items-center justify-center text-center rounded-xl ion-padding relative">
				<h6 [class.opacity-0]="isLoading" class="ion-no-margin text-bold">Simpan Kata Sandi Baru</h6>
				<ion-spinner [class.opacity-0]="!isLoading" color="light" class="absolute"></ion-spinner>
			</button>
		</div>
	</ion-toolbar>
</ion-footer>